<launch>	
    <!-- Run joint trajectory action server node (required for MoveIt!) -->
    <node pkg="baxter_interface" type="joint_trajectory_action_server.py" name="trajectory_node" >
    </node>
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="gripper_to_custom"  args="0.0 0.0 0.07 0.0 0.0 0.0 1.0 /right_gripper /right_crab" />
    <!-- Run launch file that runs MoveIt! and opens a Rviz window to visualize baxter and planning scene. Moreover remap the joint state topic to get feedback from the joints. -->
    <include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch"/>    
        <remap from="joint_states" to="robot/joint_states"/> 

    <!-- Run the baxter_pnp node to initiate pick and place operation of objects -->

	<node pkg="deniro_pnp_one_arm" type="pnp_custom_made.py" name="pnp" output="screen">
		<param name="object_topic"       value="/pcl/object/base_frame" />
  	</node>


</launch>
